<mat-card>
    <mat-card-header>
        <mat-card-title>
            Latest Trackes
        </mat-card-title>

    </mat-card-header>
    <mat-card-content>
        <mat-card *ngFor="let track of tracks">
            <mat-card-header>
                <mat-card-title>
                    {{track.date | date:'yyyy-MM-dd'}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <h3>{{(track.time.hours<10 ? '0'+track.time.hours : track.time.hours)+':'
                    +(track.time.minutes<10 ? '0'+track.time.minutes : track.time.minutes)+':'
                    +(track.time.seconds<10 ? '0'+track.time.seconds : track.time.seconds)}}</h3>
                <h5>{{track.description}}</h5>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
    <mat-card-footer>
        <mat-paginator #paginator [length]="total"
                       [pageSize]="10"
                       (page)="goToPage($event.pageIndex)">
        </mat-paginator>
    </mat-card-footer>
</mat-card>